seed: 1234

accelerator: gpu
devices: [0,1]
max_epochs: 300
out_dir: ./out/kermani_oct/mine_reb
version: 

training:
  num_folds: 5  # k-fold cross-validation
  fold: 0
  criterion: 
    name: BCE  # for subspace classifiers
  warmup_epochs: 0
  start_saving_epoch: 0

  lambda_dmeasure: 0.55
  mine_update_interval: 5

  precision: 32
  checkpoints:
    save_top_k: 1
    monitor: 'val loss'
    mode: min
    filename: '{epoch}'

model:
  method: MINE
  encoder: resnet
  resnet_backbone: 18
  imagenet_pretrained: False
  freeze_layers: 
  partial_layer4: False
  nonlinear_class_head: False
  in_channels: 1
  subspace_dims: [2, 2]
  class_dims: [1, 1]

optimizer:
  name: AdamW
  kwargs:
    lr: 0.001
    weight_decay: 0.01

optimizer_mine:
  name: AdamW
  kwargs:
    lr: 0.001

metrics: [
  "Accuracy", 
  "AUROC",
]

data:
  dataset: kermani_oct
  dataset_path: /path/to/dataset/
  attribute_labels: ["normal", "drusen"]
  confounder_fn: "Radial notch"
  correlation_strength: {"drusen": 0.95, "normal": 0.05} 
  confounder_seed: 42
  batch_size: 256
  num_workers: 16
  prefetch_factor: 2

  bucket_labels: [[0,0], [0,1], [1,0], [1,1]]
  bucket_samples: [8185, 431, 431, 8185]

  # sampler for multi-task learning
  weighted_bucket_sampler: 
    train_weights: [1, 1, 1, 1]
    val_weights: [1, 1, 1, 1] 
  factor_bucket_sampler:

  # sampler for single-task learning
  weighted_random_sampler: False

test_data:
  inverse:
    correlation_strength: {"drusen": 0.05, "normal": 0.95}
    bucket_samples:
    sampler_weights:
  balanced:
    correlation_strength: {"drusen": 0.5, "normal": 0.5}
    bucket_samples:
    sampler_weights:
  batch_size: 500
  num_workers: 39
  prefetch_factor: 2