seed: 1234

accelerator: gpu
devices: [0]
max_epochs: 10
out_dir: ./out/chexpert/adv_cl_reb

training:
  num_folds: 5  # k-fold cross-validation
  fold: 0
  criterion: 
    name: BCE  # for subspace classifiers
  warmup_epochs: 0
  start_saving_epoch: 0
  gamma: 4.
  alpha_scale: 0.4

  precision: 32
  checkpoints:
    save_top_k: 1
    monitor: 'val_acc_difference'
    mode: max
    filename: '{epoch}'

model:
  method: adv_cl
  encoder: resnet
  resnet_backbone: 18
  imagenet_pretrained: False
  freeze_layers: 
  partial_layer4: False
  nonlinear_class_head: False
  in_channels: 1  # num color channel images
  subspace_dims: [2]
  class_dims: [1, 1]

optimizer:
  name: AdamW
  kwargs:
    lr: 0.001
    weight_decay: 0.01

metrics: ["AUROC"]

data:
  dataset: chexpert
  dataset_path: /path/to/dataset/
  attribute_labels: ["Pleural Effusion", "Sex"]
  frontal: True
  image_size: 320
  batch_size: 50
  num_workers: 16
  prefetch_factor: 2

  bucket_labels: [[1, 1], [0, 1], [1, 0], [0, 0]]
  bucket_samples: [8414, 450, 450, 8414]

  # sampler for multi-task learning
  weighted_bucket_sampler: 
    train_weights: [1, 1, 1, 1]
    val_weights: [1, 1, 1, 1] 
  factor_bucket_sampler:

  # sampler for single-task learning
  weighted_random_sampler: False

test_data:
  inverse:
    correlation_strength: 
    bucket_samples: [155, 2924, 2924, 155]
    sampler_weights:
  balanced:
    correlation_strength: 
    bucket_samples: [2227, 2227, 2227, 2227]
    sampler_weights:
  batch_size: 50
  num_workers: 39
  prefetch_factor: 2